@use 'devextreme/scss/bundles/dx.carmine.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
}

html {
  --primary: #ebeff2;
  --secondary: #fafafa;
  --terciary: #e6e8eb;

  --text: #323135;

  --card: #fff;

  --white: #fafafa;
  --black: #030303;
  --gray: #bfbfbf;

  --logo:  url(./assets/logo/LogoPronta.svg);

}
